---
import Layout from "~/layouts/Layout.astro";

import type { MetaData } from "~/types";

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <main class="justify-center items-center flex flex-col h-screen">
    <slot />
  </main>
</Layout>
